{{ define "main" }}
<div class="w-full xl:w-2/3 flex flex-col flex-no-wrap self-center justify-center mb-12">
    <div class="flex flex-row flex-no-wrap self-center justify-center">
        <article class="w-full xl:w-2/3 flex flex-col flex-no-wrap flex-grow py-5 mt-10 xl:pr-10">
            <div class="px-3 xl:px-0">
                <h1 class="text-center">{{ .Title }}</h1>
                {{ with .Description }}
                    <p class="text-center text-lg m-0">{{ . }}</p>
                {{ end }}
            </div>
            <img src="{{ range .Params.images | first 1 }}{{ . }}{{ end }}" class="block mx-auto my-8" alt="{{ .Title }}" title="{{ .Title }}">
            <div class="px-3 xl:px-0">
                {{ .Content }}
            </div>
        </article>
        {{ partial "blog/sidebar.html" . }}
    </div>
    {{ partial "blog/post-footer.html" . }}
    {{ partial "blog/related.html" . }}
</div>
{{ end }}