{{ define "main" }}
<div class="w-full xl:w-3/4 flex flex-col flex-no-wrap self-center justify-start lg:px-3 py-8 lg:my-4 mb-12">
    <div class="w-full text-center mb-8">
        {{ .Content }}
    </div>
    <div class="w-full flex flex-col sm:flex-row flex-wrap lg:flex-no-wrap self-center justify-center">
        {{ range $shop := .Site.Data.shops }}
        <div class="img-container w-full sm:w-2/5 lg:w-1/4 text-center sm:my-2 m-4">
            {{ with .shopImage }}
                <img src="img/uploads/{{ . }}" class="w-full block mx-auto img-shop" title="{{ $shop.shopName }}" alt="{{ $shop.shopName }}">
            {{ end }}
            <div class="overlay flex flex-col items-center justify-center">
                {{ with .shopURL }}
                    <a class="link-overlay draw-border w-5/6 xl:w-3/4 block text-teal-dark hover:text-black tracking-wide no-underline self-center px-8 py-3 my-4 mx-auto" href="{{ . }}" title="{{ $shop.shopName }}" target="_blank" rel="noopener">
                        Visit my {{ $shop.shopName }} shop
                    </a>
                {{ else }}
                    <span class="roboto text-black tracking-wide text-xl">Coming soon...</span>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}