{{ define "main" }}
<div class="w-full lg:w-5/6 xl:w-2/3 flex flex-row flex-no-wrap self-center justify-center mb-12">
    <section class="w-full sm:w-2/3 flex flex-col flex-no-wrap pt-5 mt-10">
        <div class="w-full">
            <h1 class="md:px-5">Posts tagged "{{ .Title }}"</h1>
        </div>
        <section class="w-full flex flex-row flex-wrap flex-grow">
            {{ partial "blog/blogposts.html" . }}
        </section>
    </section>
    {{ partial "blog/sidebar.html" . }}
    {{ partial "blog/pagination.html" . }}
</div>
{{ end }}