{{ define "main" }}
<style>
    @media(max-width:991px) {
        .about-img {min-height: 110vw;}
    }
</style>
{{ $image := .Resources.GetMatch "about-img" }}
<div class="w-full xl:w-3/4 flex lg:flex-row flex-col-reverse flex-no-wrap self-center justify-start lg:px-3 py-8 lg:my-4">
    {{ with $image }}
        <div class="w-full bg-cover bg-center bg-no-repeat flex-1 about-img" style="background-image:url('{{ $image.Permalink }}');"></div>
    {{ end }}
    <div class="flex flex-col flex-no-wrap flex-1 w-full lg:w-2/3 p-3">
        {{ .Content }}
        <div id="contact" class="w-full h-px bg-teal mx-auto my-10"></div>
        <div class="w-full sm:w-2/3 flex flex-col flex-no-wrap self-center text-center mx-auto justify-between mb-5">
            <h2 class="">Become a Patron of my Art</h2>
            {{ partial "patreon-btn.html" . }}
        </div>
    </div>
</div>
{{ end }}