<footer class="w-full flex flex-col flex-no-wrap justify-center bg-grey-light">
    <div id="footer-menu" class="w-full lg:w-3/4 xl:w-1/2 flex flex-col lg:flex-row flex-wrap lg:flex-no-wrap justify-center self-center py-4">
        <div class="text-center flex-1 pt-4">
            <h4 class="text-teal">Contact me</h4>
            <h5 class="roboto mt-4">
                <a class="no-underline tracking-wide" href="mailto:studio@sahar.design">studio@sahar.design</a>
            </h5>
        </div>
        <div class="hidden lg:block flex-1 px-24 pt-2">
            <img src="/img/footer-logo.png" class="block h-32 mx-auto">
        </div>
        <div class="text-center flex-1 pt-4">
            <h4 class="text-teal">Follow me</h4>
            <div class="w-full flex flex-row flex-no-wrap self-center justify-center lg:justify-between px-16 lg:px-0 my-4">
                {{ partial "social-icons.html" . }}
            </div>
        </div>
    </div>
    <div class="w-full text-center py-4 lg:py-2">
        <p class="self-center text-sm text-grey-dark mb-0">&copy; {{ .Site.Params.author }} {{ .Site.Params.year }}, all rights reserved - <a href="/imprint">Imprint</a></p>
    </div>
</footer>
<div class="">
    <a href="#top" title="Back to Top">
        <img id="btt" src="/img/btt.svg" class="back-to-top">
    </a>
</div>