<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preload" href="/css/page.css" as="style">
<link rel="preconnect" href="https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4.woff2" as="font" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.gstatic.com/s/playfairdisplay/v13/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="/font/ShallouRegular.woff2" as="font" crossorigin="anonymous">
{{ if eq .Section "about" }}
    <link rel="preload" href="/about/about.jpg" as="image" crossorigin="anonymous">
{{ end }}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}{{ end }}">
<meta name="author" content="{{ .Site.Params.author }}">
<meta name="robots" content="index,follow">
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/opengraph.html" . }}
<!-- VERIFICATION TAGS -->
<meta name="p:domain_verify" content="35524c50ac8bb40bd39bb55d6d2c802a"/>
<meta name="google-site-verification" content="NZa7dcp6Zf2gl_ISu_qUidIZJd7g9zxR0XNJa5IwzFc" />
<!-- END -->
<base href="{{ .Site.BaseURL }}">
<title>{{ if .IsHome }}Home | {{ .Site.Params.author }}{{ else }}{{ .Title }} | {{ .Site.Params.author }}{{ end }}</title>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="/css/page.css">