<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preload" href="/css/page.css" as="style">
<link rel="preconnect" href="https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4.woff2" as="font" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.gstatic.com/s/playfairdisplay/v13/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="/font/ShallouRegular.woff2" as="font" crossorigin="anonymous">
{{ if eq .Section "about" }}
    <link rel="preload" href="/about/about.jpg" as="image" crossorigin="anonymous">
{{ end }}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}{{ end }}">
<meta name="author" content="{{ .Site.Params.author }}">
<meta name="robots" content="index,follow">
<meta name="theme-color" content="#fff">
{{ if eq .Type "post" }}
{{- with .Params.twitter -}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@">
<meta name="twitter:creator" content="@">
<meta name="twitter:title" content="{{- $.Param "twitter.tw-title" -}}">
<meta name="twitter:description" content="{{- $.Param "twitter.tw-description" -}}">
<meta name="twitter:image" content="{{- $.Param "twitter.tw-image" -}}">
{{- end -}}
{{ end }}
<base href="{{ .Site.BaseURL }}">
<title>{{ if .IsHome }}Home | {{ .Site.Params.author }}{{ else }}{{ .Title }} | {{ .Site.Params.author }}{{ end }}</title>
<link rel="icon" href="/img/favicon.png" type="image/x-icon">
<link rel="stylesheet" href="/css/page.css">
<noscript>
    
</noscript>