<header class="w-full flex flex-col pt-3 fixed sm:relative bg-white pin-t pin-r pin-l">
    <div class="flex-row justify-center">
        <img src="/img/logo.png" class="hidden sm:block mx-auto my-10">
    </div>
    <nav id="site-menu" class="hidden sm:flex flex-row flex-wrap sm:flex-no-wrap w-full justify-center self-center text-xl bg-transparent tracking-wide">
        <a href="{{ .Site.BaseURL }}" class="w-full sm:w-auto text-center text-teal-dark hover:text-teal no-underline hover:bg-grey-lighter py-3 px-5">Home</a>
        <a href="/work" class="w-full sm:w-auto text-center text-teal-dark hover:text-teal no-underline hover:bg-grey-lighter py-3 px-5">Work</a>
        <a href="/post" class="w-full sm:w-auto text-center text-teal-dark hover:text-teal no-underline hover:bg-grey-lighter py-3 px-5">Blog</a>
        <a href="/about" class="w-full sm:w-auto text-center text-teal-dark hover:text-teal no-underline hover:bg-grey-lighter py-3 px-5">About</a>
        <a href="/contact" class="w-full sm:w-auto text-center text-teal-dark hover:text-teal no-underline hover:bg-grey-lighter py-3 px-5">Contact</a>
        <div class="w-full h-px bg-grey-light sm:hidden my-3">
    </nav>
    <div class="flex flex-row justify-between">
        <button class="sm:hidden self-start text-teal-dark hover:text-teal border border-teal-dark hover:border-teal uppercase px-3 py-2 mx-3">Logo</button>
        <button class="sm:hidden self-end text-teal-dark hover:text-teal border border-teal-dark hover:border-teal px-3 py-2 mx-3" onclick="navToggle();">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
        </button>
    </div>
    <div class="w-full sm:w-2/3 h-px bg-grey-light mx-auto mt-3"></div>
</header>