<header class="bg-grey-darkest text-grey-light py-3">
    <nav id="site-menu" class="hidden sm:flex flex-row flex-wrap sm:flex-no-wrap justify-center">        
        <a href="{{ .Site.BaseURL }}" class="w-full sm:w-auto text-center text-teal hover:text-teal-lighter uppercase no-underline mx-3 my-3">Normal Home</a>
        <a href="#" class="w-full sm:w-auto text-center text-teal hover:text-teal-lighter uppercase no-underline mx-3 my-3">Nav Item 1</a>
        <a href="#" class="w-full sm:w-auto text-center text-teal hover:text-teal-lighter uppercase no-underline mx-3 my-3">Nav Item 2</a>
        <a href="#" class="w-full sm:w-auto text-center text-teal hover:text-teal-lighter uppercase no-underline mx-3 my-3">Nav Item 3</a>
        <a href="#" class="w-full sm:w-auto text-center text-teal hover:text-teal-lighter uppercase no-underline mx-3 my-3">Nav Item 4</a>
        <div class="w-full h-px bg-teal sm:hidden mb-3">
    </nav>
    <div class="flex flex-row justify-between">
        <button class="sm:hidden self-start text-teal hover:text-teal-lighter border border-teal hover:border-teal-lighter uppercase p-3 mx-3">Logo</button>
        <button class="sm:hidden self-end text-teal hover:text-teal-lighter border border-teal hover:border-teal-lighter p-3 mx-3" onclick="navToggle();">Nav Toggle</button>
    </div>
</header>