{{ $headless := .Site.GetPage "/home" }}
    {{ $intro := $headless.Resources.GetMatch (printf "*%s*" "intro") }}
    {{ $fwImg := $headless.Resources.GetMatch "fullwidth-img" }}

{{ with $fwImg }}
<section class="w-full flex flex-col justify-center text-center text-grey-light bg-fixed bg-no-repeat" style="background-image: url('{{ .Permalink }}');min-height:400px;">{{ end }}
    <h1 class="self-center text-white">This is the HOME page</h1>
</section>
<div class="w-full xl:w-1/2 flex flex-col flex-wrap self-center justify-center px-5">
    <div class="w-full py-10">
        {{ with $intro }}
            {{ .Content }}
        {{ end }}
    </div>
</div>