<script src="/js/zenscroll-min.js"></script>
<script>
    var nav = document.getElementById('site-menu');
    var bod = document.getElementById('spacer');
    var btt = document.getElementById('btt');

    window.addEventListener('scroll', function() {
        if (window.scrollY >=350) {
            bod.classList.add('bod-pt-scroll');
            nav.classList.add('nav-sticky');
        } else {
            bod.classList.remove('bod-pt-scroll');
            nav.classList.remove('nav-sticky');
        }
        if (window.scrollY >=720) {
            btt.classList.add('btt-active');
        } else {
            btt.classList.remove('btt-active');
        }
    });

    function navToggle() {
        nav.classList.toggle('hidden');
        nav.classList.toggle('flex');
    }

    // img lazy loading function needed
    console.log('Code: ttntm.me'); // credit where credit is due

    zenscroll.setup(1250,0);
</script>