<script>
    var nav = document.getElementById('site-menu');
    var bod = document.getElementsByTagName('body')[0];
    window.addEventListener('scroll', function() {
        if (window.scrollY >=350) {
            bod.classList.add('bod-pt-scroll');
            nav.classList.add('nav-sticky');
        } else {
            bod.classList.remove('bod-pt-scroll');
            nav.classList.remove('nav-sticky');
        }
    });

    function navToggle() {
        nav.classList.toggle('flex');
    }
</script>