{{ range $index, $social := .Site.Params.social }}
    {{- if eq $index 0 -}}
        <a href="{{ $social.url }}" title="{{ $social.title }}" class="inline-block hover:opacity-50 transition" target="_blank" rel="noopener"><img src="/img/icons/{{ $social.icon }}.svg" class="w-10 social-icon"></a>
    {{- else -}}
        <a href="{{ $social.url }}" title="{{ $social.title }}" class="inline-block hover:opacity-50 transition" target="_blank" rel="noopener"><img src="/img/icons/{{ $social.icon }}.svg" class="w-10 social-icon"></a>
    {{- end -}}
{{ end }}