{{ range .Pages }}
<div class="w-full md:w-1/2 flex flex-col flex-wrap md:flex-no-wrap py-5 md:px-5 lg:pr-10">
    <div class="w-full">
        <a href="{{ .Permalink }}" title="{{ .Title }}">
            <img src="{{ range .Params.images | first 1 }}{{ . }}{{ end }}" class="block w-full py-5 mb-5" alt="{{ .Title }}" title="{{ .Title }}">
        </a>
    </div>
    <div class="w-full px-3 sm:px-0 text-center">
        <p class="text-grey-dark text-xs uppercase my-0">
            {{range $index, $tag := .Params.tags }}
                {{- if eq $index 0 -}}
                    {{ $tag }}
                {{- else -}}
                    , {{ $tag }}
                {{- end -}}
            {{ end }}
        </p>
        <h2 class="text-black text-4xl">{{ .Title }}</h2>
        <p class="text-grey-dark text-xs text-teal-dark uppercase">{{ dateFormat (.Site.Params.DateForm | default "Mon, 2 Jan 2006") .Date }}</p>
        <p class="text-left text-sm tracking-wide">{{ .Summary }}</p>
        <a href="{{ .Permalink }}" class="btn btn-primary self-center text-sm uppercase tracking-wide no-underline px-10 py-2 mb-3">Continue reading</a>
    </div>
    <div class="w-full h-px bg-teal mx-auto my-3"></div>
</div>
{{ end }}