{{ $related := .Site.RegularPages.Related . | first 4 }}
{{ with $related }}
<div class="w-full flex flex-col flex-no-wrap self-center justify-center">
    <h1 class="text-center px-3 my-3">You May Also Like</h1>
    <div class="flex flex-col md:flex-row flex-grow flex-wrap justify-around">
        {{ range . }}
        {{ $relImg := .Resources.GetMatch "blogImage" }}
        <div class="w-full md:w-1/4 xl:w-1/4 flex flex-col flex-no-wrap py-5 px-0 md:px-3">
            <div class="w-full">
                <a href="{{ .Permalink }}" title="{{ .Title }}">
                    <img src="{{ $relImg.RelPermalink }}" class="block w-full py-5 md:py-0 mb-5 md:mb-0">
                </a>
            </div>
            <div class="w-full text-center px-3 pt-5">
                <p class="text-grey-dark text-xs uppercase my-0">
                    {{range $index, $tag := .Params.tags }}
                        {{- if eq $index 0 -}}
                            {{ $tag }}
                        {{- else -}}
                            , {{ $tag }}
                        {{- end -}}
                    {{ end }}
                </p>
                <h2 class="text-black">{{ .Title }}</h2>
                <p class="text-grey-dark text-xs text-teal-dark uppercase">{{ dateFormat (.Site.Params.DateForm | default "Mon, 2 Jan 2006") .Date }}</p>
                <a href="{{ .Permalink }}" class="btn btn-primary text-sm no-underline px-5 py-2">Read more...</a>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}