{{ define "main" }}
<div class="w-full xl:w-1/2 flex flex-col flex-no-wrap self-center justify-center mt-10">
    <div class="text-center px-3">
        {{ .Content }}
        <h2 class="roboto">
            <a class="no-underline" href="mailto:studio@sahar.design">studio@sahar.design</a>
        </h2>
    </div>
    <div class="w-full h-px bg-teal mx-auto my-10"></div>
    <h2 class="text-center">Follow me</h2>
    <div class="w-3/4 xl:w-3/4 flex flex-row flex-no-wrap justify-center self-center mx-auto py-5">
        {{ partial "social-icons.html" . }}
    </div>
    <div class="w-full h-px bg-teal mx-auto my-10"></div>
    <h2 class="text-center">Become a Patron of my Art</h2>
    <div class="w-full sm:w-1/2 flex flex-col flex-no-wrap self-center text-center mx-auto justify-between mb-5">        
        {{ partial "patreon-btn.html" . }}
    </div>
</div>
{{ end }}
{{ define "footer" }}
<footer class="w-full flex flex-col flex-no-wrap justify-center bg-grey-light">
    <div class="w-full bg-white text-center py-8 lg:py-4">
        <p class="self-center text-sm text-grey-dark mb-0">&copy; {{ .Site.Params.author }} {{ .Site.Params.year }}, all rights reserved - <a href="/imprint">Imprint</a></p>
    </div>
</footer>
{{ end }}